h1 {
  font-size: 100px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}
p {
  font-size: 50px;
  color: white;
  margin: 20px;
  font-family: 'Roboto', sans-serif;
}
.p1 {
  font-style: bold;
  font-size: 60px;
  color: rgb(255, 255, 107);
}
.p2 {
  font-style: bold;
  font-size: 60px;
  color: rgb(8, 255, 255);
}
body{
  display: flex; 
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: grey;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.303), rgba(128, 128, 128, 0.618), rgba(169, 169, 169, 0.029));
}

.bank {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-content: center;
}

#parent{
  margin: 20px;
  display: grid;
  position: relative; 
  border: 1px solid white;
  border-radius: 50%;
  height: 1270px; 
  width: 1270px;
}
#grid {
  border: 1px solid white;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: auto auto auto auto; 
  grid-gap: 1em;
  padding: 1em;
  margin: 188px 0 0 188px;
  height: 860px; 
  width: 860px;
  position: relative;
  z-index: 1; 
}

#grid2 {
  display: grid;
  border: 1px solid white;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: auto auto auto auto; 
  grid-gap: 1em;
  padding: 1em;
  margin: 188px 0 0 188px;
  height: 860px; 
  width: 860px;
  position: absolute;
}

.whiteCell {
  border-radius: 50%;
  height: 200px;
  width: 200px; 
  background-color: white;
  z-index: -1;
  position: relative; 
  background: #e0e0e0;
  box-shadow: inset -34px -34px 86px #bebebe,
            inset 34px 34px 86px #ffffff;
}
.cell {
  border-radius: 50%;
  height: 200px;
  width: 200px;  
}
.dark-flat{
  border: 2px solid rgb(0, 49, 128);
  background-color: rgb(0, 49, 128);
}
.dark-indent{
  border: 2px solid rgb(0, 49, 128);
  background: repeating-linear-gradient( 90deg, #fff, #fff 5px, rgb(0, 49, 128) 5px, rgb(0, 49, 128) 12px);
}
.light-flat{
  border: 2px solid rgb(162, 0, 0);
  background-color: rgb(162, 0, 0)
}
.light-indent{
  border: 2px solid rgb(162, 0, 0);
  background: repeating-linear-gradient( 90deg, #fff, #fff 5px, rgb(162, 0, 0) 5px, rgb(162, 0, 0) 12px);
}
.tall{
  width: 80px;
  height: 80px;
  margin: 60px;
  z-index: 100; 
  position: relative; 
}
.short{
  width: 50px;
  height: 50px;
  margin: 75px;
  z-index: 100; 
  position: relative; 
}
.circle{
  border-radius: 50%;
  z-index: 10px;
}
.square{
  border-radius: 0%;
}

.active {
  border: 5px solid rgb(37, 230, 8);
}

