h1 {
  text-align: center;
  color: white
}
p {
  font-size: large;
  color: white
}
body{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  background-color: grey;
}
#grid {
  border: 1px solid white;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: auto auto auto auto; 
  grid-gap: 1em;
  padding: 1em;
  margin: 50px;
  height: 50vh; 
  width: 50vh;
  transform: rotate(45deg)
}

#bank {
  width: 100vh;
  height: 100vh;
  justify-content: center; 
  align-content: center;
}

.cell {
  border: 1px solid black;
  border-radius: 50%;
  height: 10vh;
  width: 10vh; 
  background-color: white;
}

.piece {
  background-color: red;
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: left;
  margin: 5px; 
  padding: 0;
}
.active {
  border: 2px solid rgb(10, 232, 58);
}

.dark {
  background-color: rgb(0, 49, 128)
}
.light {
  background-color:skyblue
}
.tall{
  width: 50px;
  height: 50px;
}
.short{
  width: 30px;
  height: 30px;
}
.circle{
  border-radius: 50%;
}
.square{
  border-radius: 0%;
}
.indent {
  background: repeating-linear-gradient( 90deg, #fff, #fff 5px, #000 5px, #000 40px);
} 

.flat {
  
}